### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [417]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas df frame
purchase_df = pd.read_csv(file_to_load)

#purchase_df.set_index('Gender', inplace = True)
purchase_df.round(2)
purchase_df.head(2)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56

## Player Count

* Display the total number of players

In [376]:
# row count of the dataframe to display the total number of players
#len(DataFrame.unique())
# df.shape[0]
Num_Players = len(purchase_df["SN"].value_counts())
tp_df =  pd.DataFrame({"Total Players": [Num_Players]})
tp_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [360]:
# Display a statistical overview of the dfFrame
# Run basic calculations to obtain number of unique items, average price, etc.

Itemcount = len(purchase_df["Item ID"].value_counts())
#purchase_df["Number of Unique Items"] = count
#purchase_df["Number of Unique Items"] 

avg = purchase_df["Price"].mean()

PriceCount = purchase_df["Price"].count()

Rev = purchase_df["Price"].sum()

In [361]:
# Place all of the data found into a summary DataFrame
# Create a summary data frame to hold "Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"
summary_table = pd.DataFrame({"Number of Unique Items": Itemcount,
                              "Average Price": [avg], 
                              "Number of Purchases": [PriceCount], 
                              "Total Revenue": [Rev]})

#change format after calculations
#format percentage
#summary_table["Average Price"]= summary_table["Average Price"].map("${:.2f}".format)

summary_table

   Number of Unique Items Average Price  Number of Purchases  Total Revenue
0                     183         $3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [419]:

#Reduce the number of columns to only the players and their gender
reduced_df = purchase_df[["SN", "Gender"]]

genders = reduced_df.drop_duplicates("SN", keep='first', inplace=False)

# The value_counts method counts unique values in a column. Excludes NA values by default but normalize is false by default. 
#Calulate the Percentage of Players
Pcount = reduced_df["Gender"].value_counts(normalize = True) * 100 #This is correct, normalize is set to true

#Calucalate total number players by gender
Gcount = genders.groupby("Gender")["SN"].count()

#create an empty dataframe with 2 coloumns
new_df = pd.DataFrame(columns = ["Total Players", "Percentage of Players"])

#Put calculations into the empty dataframe
new_df = pd.DataFrame({"Total Count": Gcount, "Percentage of Players": Pcount})

#change format after calculations
#format percentage
#new_df["Percentage of Players"]= new_df["Percentage of Players"].map("{:.2f}".format)

new_df.round(2)

                       Total Count  Percentage of Players
Female                          81                  14.49
Male                           484                  83.59
Other / Non-Disclosed           11                   1.92


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [416]:
# Create a summary data frame to hold "Purchase Count", "Average Purchase Price", "Total Purchase Value" and
# "Avg Total Purchase per Person"

#Reduce the number of columns to only the players and their gender
reduced_df = purchase_df[["SN", "Gender", "Price"]]

#Calucalate Total Purchase Value by gender

genders = reduced_df["Gender"].value_counts(ascending=True)
GPrice =reduced_df.groupby("Gender")["Price"].sum()
avg = reduced_df["Gender"].value_counts("Price") * 100 #This is correct, normalize is set to true
tc = new_df["Total Count"]
tvp = new_df2[ "Average Purchase Price"]/tc

#create an empty dataframe
new_df2 = pd.DataFrame(columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"])
new_df2["Purchase Count"] = genders
new_df2[ "Average Purchase Price"] = avg.round(2)
new_df2[ "Total Purchase Value"] = GPrice
new_df2[ "Avg Total Purchase per Person"] = tvp.round(2)


new_df2

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Other / Non-Disclosed,15,1.92,50.19,0.17
Female,113,14.49,361.94,0.18
Male,652,83.59,1967.64,0.17

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [428]:
#Categorize the existing players using the age bins

#reduce dataframe
age_df = purchase_df[["Purchase ID", "Age"]]


#create an empty dataframe with  coloumns
AgeDem_df =  pd.DataFrame(columns = ["Players", "Age"])

#probably didn't need to do this but better safe than sorry
plyrs = purchase_df.drop_duplicates("SN", keep='first', inplace=False)

##Put values into the empty dataframe
AgeDem_df["Players"] = plyrs["SN"]
AgeDem_df["Age"] = plyrs["Age"]

# Figure out the minimum and maximum ages to determine bins
max_age = purchase_df["Age"].max()
min_age = purchase_df["Age"].min()

max_age, min_age

(45, 7)

In [429]:
# Create bins in which to place values based upon players ages 
#(thanks Seth for your patience)
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, np.inf]

# Create labels for these bins
group_labels = ["< 10", "10 to 14", "15 to 19", "20 to 24", "25 to 29", "30 to 34",
                "35 to 39", "40+"]

In [430]:
# Place the sliced data into bins data series and into a new column inside of the DataFrame
AgeDem_df["Age Group"] = pd.cut(AgeDem_df["Age"], bins, labels=group_labels)

In [431]:
#Calculate the numbers by age group
# Create a GroupBy object based upon "Age Group"
Cnt = pd.DataFrame({"tcount" : AgeDem_df.groupby( [ "Age Group"] ).size()}).reset_index()

#Calculate the percentages by age group
Cnt["totalc"] = Cnt['tcount'].sum()

p = Cnt.groupby('Age Group').apply(lambda x: x['tcount'].sum() /
                                   x['totalc'].sum().astype(float)).to_dict()

Cnt['p'] = Cnt['Age Group'].map(p)
Cnt['p'] = Cnt['p'] * 100


Cnt["Percentage of Players"]= Cnt["p"].round(2)

#Display Age Demographics Table

SummPlayers = Cnt[["Age Group", "tcount", "Percentage of Players" ]]

SummPlayers_table = SummPlayers.rename(columns = {"tcount" : "Total Count"})

SummPlayers_table

  Age Group  Total Count  Percentage of Players
0      < 10           17                   2.95
1  10 to 14           22                   3.82
2  15 to 19          107                  18.58
3  20 to 24          258                  44.79
4  25 to 29           77                  13.37
5  30 to 34           52                   9.03
6  35 to 39           31                   5.38
7       40+           12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [432]:
#reduce dataframe
reducePurch_df = purchase_df[["Purchase ID", "Age", "Price"]]

#create an empty dataframe with  coloumns
PurchAgeDem_df =  pd.DataFrame(columns = ["Age", "Price"])
PurchAgeDem_df["Age"] = reducePurch_df["Age"]
PurchAgeDem_df["Price"] = reducePurch_df["Price"]

# Figure out the minimum and maximum ages to determine bins
max_price = reducePurch_df["Price"].max()
min_price = reducePurch_df["Price"].min()

#max_price, min_price
reducePurch_df.head(2)

   Purchase ID  Age  Price
0            0   20   3.53
1            1   40   1.56

In [433]:
#Bin the PurchaseAge_df data frame by age
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, np.inf]

# Create labels for these bins
group_labels = ["< 10", "10 to 14", "15 to 19", "20 to 24", "25 to 29", "30 to 34",
                "35 to 39", "40+"]

In [434]:
# Place the data series into a new column inside of the DataFrame
PurchAgeDem_df["Age Group"] = pd.cut(reducePurch_df["Age"], bins, labels=group_labels)

PurchAgeDem_df.head(2)

   Age  Price Age Group
0   20   3.53  20 to 24
1   40   1.56       40+

In [459]:
#Calculate the numbers by age group
# Create a GroupBy object based upon "Age Group"

#p = PurchAgeDem_df.groupby('Age Group')['Price'].agg(['count', 'mean','sum', 'max', 'min'])
 
g_purch_tot = PurchAgeDem_df.groupby(['Age Group']).sum()['Price']
ga = PurchAgeDem_df.groupby(['Age Group']).mean()['Price']
gc = PurchAgeDem_df.groupby(['Age Group']).count()['Price']

normalize_pc = g_purch_tot/SummPlayers_table['Total Count']


# Using .rename(columns={}) in order to rename columns
#SummAgeDem = p.rename(columns={"count":"Purchase Count", "mean": "Average Purchase Price", "sum":"Total Purchase Value"})
SummAgeDem = (pd.DataFrame(data={
    "Purchase Count": gc,
    "Average Purchase Price": ga,
    "Total Purchase Value": g_purch_tot,
    "Avg Total Purchase per Person": normalize_pc
})
             .round(2)
             )

#SummAgeDem['Avg Total Purchase per Person'] = SummAgeDem['Total Purchase Value']/tpa
SummAgeDem = SummAgeDem.loc[:,["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]
#Display Purchasing Analysis (Age) Table
#SummAgeDem.round(2)
#g_purch_tot
####I've added the max and min just until I figure out how to calculate the 'Avg Total Purchase per Person'

C:\Users\Maria\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:3772: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  return this.join(other, how=how, return_indexers=return_indexers)
C:\Users\Maria\Anaconda3\lib\site-packages\pandas\core\indexes\api.py:107: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  result = result.union(other)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame